{
  "slack_redirect_uri": "",
  "client_secret": "",
  "app_id": "",
  "signing_secret": "",
  "node_env": "",
  "client_id": "",
  "google_client_secret": "",
  "google_client_id": "",
  "google_redirect_uri": ""
}
